<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
  </head>
  <body>
    <input type="text" id="input" />
    <button id="btn">Submit</button>
    <h1 id="text"></h1>
    <script>
      const socket = io("http://127.0.0.1:3000");
      socket.on("connection");
      socket.on("message", (data) => {
        $("#text").text(data);
      });

      $("#btn").click(function (e) {
        e.preventDefault();
        const text = $("#input").val();
        socket.emit("message", text);
      });
    </script>
  </body>
</html>
